<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - GymManagement</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/untitled.css}">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card shadow-lg o-hidden border-0 my-5">
                                <div class="card-body p-0">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h4 class="text-dark mb-4">Welcome Back!</h4>
                                        </div>
                                        <form class="user" method="post" th:action="@{/}">
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="text"
                                                       id="exampleInputName"
                                                       placeholder="Name" name="name">
                                            </div>
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="password"
                                                       id="exampleInputPassword"
                                                       placeholder="Password" name="password">
                                            </div>
                                            <div class="mb-3" th:if="${error}" style="color: red;">
                                                <p th:text="${error}"></p>
                                            </div>
                                            <button class="btn btn-primary btn-user w-100" type="submit">Login</button>
                                        </form>
                                        <hr>
                                        <a class="btn btn-primary btn-google btn-user w-100 mb-2" role="button"
                                           onclick="alert('Login with Google is not working right now!');">
                                            <i class="fab fa-google"></i>&nbsp; Login with Google
                                        </a>
                                        <a class="btn btn-primary btn-facebook btn-user w-100" role="button"
                                           onclick="alert('Login with Facebook is not working right now!');">
                                            <i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bs-init.js}"></script>
<script th:src="@{/js/theme.js}"></script>
<script th:src="@{/js/dump.js}"></script>
</body>
</html>
